h1 {
  text-align:center;
  
h2 {
  font-weight:bold;
  text-align:center;
  position:relative;
  right:100px;
  opacity:1;
}
#rankings {
  background-color: #e5e5f7;
background-image:  linear-gradient(30deg, #aee0ff 12%, transparent 12.5%, transparent 87%, #aee0ff 87.5%, #aee0ff), linear-gradient(150deg, #aee0ff 12%, transparent 12.5%, transparent 87%, #aee0ff 87.5%, #aee0ff), linear-gradient(30deg, #aee0ff 12%, transparent 12.5%, transparent 87%, #aee0ff 87.5%, #aee0ff), linear-gradient(150deg, #aee0ff 12%, transparent 12.5%, transparent 87%, #aee0ff 87.5%, #aee0ff), linear-gradient(60deg, #aee0ff77 25%, transparent 25.5%, transparent 75%, #aee0ff77 75%, #aee0ff77), linear-gradient(60deg, #aee0ff77 25%, transparent 25.5%, transparent 75%, #aee0ff77 75%, #aee0ff77);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
#myrankings {
  background-color:white;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  margin:50px;
}
#card1 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card2 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card3 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card4 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card5 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card6 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card7 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card8 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card9 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#card0 {
  Background-color:white;
  border-radius:30px;
  width:30%;
  margin:auto;
}
#cards {
  
